<link rel="stylesheet" href="/css/style.css">



<div style="float: right; padding: 5%; width: 800px "> 
    <div style="width: auto; float: right; text-align: justify; margin-bottom: 100px">Чай — самый популярный напиток в мире. 
        Получается путем заваривания, варки, настаивания чайного листа, который предварительно проходит обработку
        (сбор, высушивание, ферментирование).
        Мировыми лидерами в производстве чая являются Китай, Индия, Шри-Ланка и Кения. В Европе чай появился 
        благодаря португальцам, которые в 1516 году проложили морской путь в Китай. В начале XIX века культивирование чая началось 
        в Англии. Название «Эрл Грей» образовалось в честь премьер-министра Великобритании Чарльза Грея, который проявлял большую 
        инициативу в выращивании чая и сокращении зависимости от Китая.
    </div>

    <div id="map" ></div>
</div>
