<form action="/users/signup" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="password" placeholder="pasword">
  <button>register!</button>
</form>