<form action='/users/signin' method='post' class='transparent'>
  <div
    style='margin: 15px; padding: 15px; text-align: center;  flex-direction: column;'
  >
    <h2>Войти в личный кабинет</h2>

    <input type='email' name='email' placeholder='email' />

    <input
      type='password'
      name='password'
      placeholder='password'
      type='password'
    />
    <input style='f' class='btn btn-secondary' type='submit' value='GO' />
  </div>
</form>

{{! <form action='/users/signin' method='post'>
  <input type='text' name='email' placeholder='email' />
  <input type='text' name='password' placeholder='pasword' />
  <button>log in!</button>
</form>
 }}