<form  action='/users/signin' method='post' class="transparent">
<div  style="margin: 15px; padding: 15px; text-align: center;  flex-direction: column;">
<h2>Зарегестрироваться</h2>
<input type="text" name="name" placeholder="name">
<input type="text" name="email" placeholder="email">
<input type="text" name="password" placeholder="pasword">
<input type="submit" value="GO">
</div>
</form>

