<form action='/users/signup' method='post' class='transparent'>
  <div
    style='margin: 15px; padding: 15px; text-align: center;  flex-direction: column;'
  >
    <h2>Зарегестрироваться</h2>
    <input type='text' name='name' placeholder='name' required />
    <input type='email' name='email' placeholder='email' required />
    <input type='text' name='password' placeholder='password' required />
    <input type='submit' value='GO' />
  </div>
</form>